root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[**.sh]
max_line_length = 120

[**.md]
indent_size = 2

[**.ts]
max_line_length = 120

[**.css]
max_line_length = 120

[docs/**.md] # YAML support
indent_size = 2

[{Makefile,**.mk,.git*}]
indent_style = tab

[{tests/acceptance/**.sh,src/console_header.sh,docs/command-line.md}]
indent_size = unset

[src/coverage.sh]
max_line_length = unset
