root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[**.sh]
indent_style = space
indent_size = 2
max_line_length = 122

[**.md]
indent_style = space

[{Makefile,**.mk}]
indent_style = tab

[tests/acceptance/**.sh]
indent_size = unset
