/.github                export-ignore
/.task                  export-ignore
/bin                    export-ignore
/docs                   export-ignore
/example                export-ignore
/tests                  export-ignore
/tools                  export-ignore
/.editorconfig          export-ignore
/.gitattributes         export-ignore
/.gitignore             export-ignore
