/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Fonts
 */

/**
 * @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&display=swap');
 * @import url('https://fonts.googleapis.com/css2?family=Cousine');
 * @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600');
 */

@import url('./fonts.css');

:root {
  --vp-font-family-base: Heebo, sans-serif;
  --vp-font-family-mono: Cousine, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Rubik, sans-serif;
  font-weight: 600;
}

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-default-1: #d3d7cf;
  --vp-c-default-2: #e1e3de;
  --vp-c-default-3: #eceeee;
  --vp-c-default-soft: #d3d7cf2e;

  --vp-c-brand-1: #4e9a06;
  --vp-c-brand-2: #6cbe1d;
  --vp-c-brand-3: #8ae234;
  --vp-c-brand-soft: #8ae2342e;

  --vp-c-tip-1: #3465a4;
  --vp-c-tip-2: #5382ba;
  --vp-c-tip-3: #729fcf;
  --vp-c-tip-soft: #729fcf2e;

  --vp-c-warning-1: #c4a000;
  --vp-c-warning-2: #e0c528;
  --vp-c-warning-3: #fce94f;
  --vp-c-warning-soft: #fce94f2e;

  --vp-c-danger-1: #cc0000;
  --vp-c-danger-2: #de1515;
  --vp-c-danger-3: #ef2929;
  --vp-c-danger-soft: #ef29292e;
}

.dark {
  --vp-c-default-1: #535557;
  --vp-c-default-2: #414547;
  --vp-c-default-3: #2e3436;
  --vp-c-default-soft: #5557532e;

  --vp-c-brand-1: #8ae234;
  --vp-c-brand-2: #6cbe1d;
  --vp-c-brand-3: #4e9a06;
  --vp-c-brand-soft: #8ae2342e;

  --vp-c-tip-1: #729fcf;
  --vp-c-tip-2: #5382ba;
  --vp-c-tip-3: #3465a4;
  --vp-c-tip-soft: #729fcf2e;

  --vp-c-warning-1: #fce94f;
  --vp-c-warning-2: #e0c528;
  --vp-c-warning-3: #c4a000;
  --vp-c-warning-soft: #fce94f2e;

  --vp-c-danger-1: #ef2929;
  --vp-c-danger-2: #de1515;
  --vp-c-danger-3: #cc0000;
  --vp-c-danger-soft: #ef29292e;
}

/**
 * Background
 *
 * - `bg`: The bg color used for main screen.
 *
 * - `bg-alt`: The alternative bg color used in places such as "sidebar",
 *   or "code block".
 *
 * - `bg-elv`: The elevated bg color. This is used at parts where it "floats",
 *   such as "dialog".
 *
 * - `bg-soft`: The bg color to slightly distinguish some components from
 *   the page. Used for things like "carbon ads" or "table".
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-bg: #fafbfb;
  --vp-c-bg-alt: #f1f2f2;
  --vp-c-bg-elv: #f6f7f7;
  --vp-c-bg-soft: #f6f7f7;
}

.dark {
  --vp-c-bg: #232729;
  --vp-c-bg-alt: #171a1b;
  --vp-c-bg-elv: #0c0d0e;
  --vp-c-bg-soft: #171a1b;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: #2e3436;
  --vp-home-hero-image-background-image: linear-gradient(-45deg,
      #a462e5 50%,
      #8ae234 50%);
  --vp-home-hero-image-filter: blur(40px);
}

.dark {
  --vp-home-hero-name-color: #eceeee;
}

.VPHero .VPImage {
  translate: -50% -50%;
  transform: none;
}

.VPFeature .VPImage {
  all: unset;
  background: #2e3436;
  padding: 0.4rem;
  border-radius: 0.6rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  object-position: center;
}

/**
 * Component: Doc
 * -------------------------------------------------------------------------- */
.VPDocFooter {
  display: none;
}