name: Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  ubuntu:
    name: "Ubuntu - ${{ matrix.version }}"
    runs-on: ${{ matrix.version }}
    timeout-minutes: 10
    strategy:
      matrix:
        version:
          - ubuntu-latest
          - ubuntu-22.04  # one version before latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Run Tests
        run: make test

  macos:
    name: "macOS - ${{ matrix.version }}"
    runs-on: ${{ matrix.version }}
    timeout-minutes: 10
    strategy:
      matrix:
        version:
          - macos-latest
          - macos-13  # one version before latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Run Tests
        run: make test

  windows:
    name: "On windows (${{ matrix.test_chunk }})"
    timeout-minutes: 10
    runs-on: windows-latest
    strategy:
      matrix:
        test_chunk: [acceptance, functional, unit]
      fail-fast: false
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Run tests
        shell: bash
        run: |
          ./bashunit --parallel tests/${{ matrix.test_chunk }}/*_test.sh

  alpine:
    name: "On alpine-latest"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Run Tests
        run: |
          docker run --rm -v "$(pwd)":/project alpine:latest /bin/sh -c " \
            apk update && \
            apk add --no-cache bash make git && \
            adduser -D builder && \
            chown -R builder /project && \
            su - builder -c 'cd /project; make test';"

  simple-output:
    name: "Simple output"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Run Tests
        run: |
          ./bashunit --simple tests/

  simple-output-parallel:
    name: "Simple output in parallel"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Run Tests
        run: |
          ./bashunit --parallel --simple tests/

  extended-output-parallel:
    name: "Extended output in parallel"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Run Tests
        run: |
          ./bashunit --parallel tests/

  nixos:
    name: "NixOS"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Run Tests
        run: |
          docker run --rm -v "$(pwd)":/project -w /project nixos/nix:latest \
            nix-shell -p bash gnumake git --run "./bashunit --parallel tests/"
